body {
    background-color: white;
    margin-top: 205px;
    margin-left: 131px;
    width: 690px;
}

h1 {
    color: #404040;
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size:28px;
    margin: 0 0 10px;
}

h3 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 2em;
}

h4 {
    margin-bottom: 15px;
}

h5{
    margin: 0 0 20px;
    font-size: 14px;
    text-align: center;
}

h6 {
    color: rgb(44 61 80);
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 14px;
}

hr {
    margin: 0 0 -1px;
}

.container {
    display: flex;
    align-items: flex-start;
    gap: 1em;
    max-width: 690px;
}

p {
    color: rgb(44 61 80);
    font-size: 14px;
    margin-top: 20px;
}

button {
    background-color: #f0f0f0;
    color: black;
    /* max-width: 135px; */
    height: 35px;
    /* padding: 10px 15px; */
    font-size: 14px;
    width: 135px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

button:hover {
    background-color: #dcdcdc;
    border-color: #a5a5a5;
}

ul {
    padding-left: 1em;
}

ol {
    padding-left: 1em;
    margin: 5px;
    list-style-type: none;
}

li {
    margin-bottom: 5px;
    font-size: 14px;
}

h3 a {
    color: #888888;
}

h5 a {
    color: #888888;
}

h3 a:visited {
    color: #686666;
}

h5 a:visited {
    color: #686666;
}

a {
    color: #0000FF;
}

a:visited {
    color: #0000FF;
}

a:hover {
    color: #010177;
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid black;
    font-weight: normal;
    font-size: 12px;
    padding: 5px;
    border-spacing: 1px;
}

#Polarized3He {
    margin: 0;
    padding: 0;
    display: block;
}

.Polarized3He p {
    margin: 5px;
}

.data-section {
    display: none;
}