.page {
    background-color: white;
    margin: 205px auto 0 auto;
    width: 1140px;
    padding: 0.5em;
}

.main-content {
    display: flex;
    width: 100%;
    margin-left: 10px;
    margin-right: 0px;
  }

body {
    background-color: #00065e;
}

.top-bar {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.content-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

.header-wrapper {
    display: flex;
}

.header-section header h1 {
    margin: 0;
    white-space: nowrap;
}

.active-header {
    flex-grow: 1;
    margin-top: 10px;
    margin-left: 10px;
  }

.header-section:has(h1) {
    display: block;
}

h1 {
    color: #404040;
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size:36px;
    margin: 0 0 10px;
}

h3 {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 2em;
    font-family: inherit;
}

h4 {
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 28px;
    font-weight: normal;
    color: #2c3e50;
    font-family: Helvetica;
}

h5{
    margin: 0 130px 20px;
    font-size: 14px;
    font-family: inherit;
}

h6 {
    color: rgb(44 61 80);
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 25px;
    font-family: Helvetica;
    font-weight: normal;
}

hr {
    width: calc(100%-40px);
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 15px;
    border-style: inset;
    border-width: 5px;
    border-color: lightgray;
}

.main-content hr {
    border-width: 3px;
    margin: 20px 30px 10px;
}

p {
    color: rgb(44 61 80);
    font-size: 14px;
    margin-top: 20px;
    font-family: inherit;
}

button {
    background-color: #f0f0f0;
    color: black;
    height: 35px;
    font-size: 14px;
    width: 120px;
    border: 1px solid #eeeeee;
    cursor: pointer;
}

.dropdown-content button {
    width: 150px;
    border: none;
}

button:hover {
    background-color: #dcdcdc;
    border-color: #a5a5a5;
}

h3 a {
    color: #888888;
    text-decoration: none;
}

h5 a {
    color: #888888;
    text-decoration: none;
}

h3 a:visited {
    color: #686666;
}

h5 a:visited {
    color: #686666;
}

a {
    color: #0000FF;
}

a:visited {
    color: #0000FF;
}

a:hover {
    color: #010177;
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid black;
    font-weight: normal;
    font-size: 12px;
    padding: 5px;
    border-spacing: 1px;
}

#Deuteron {
    margin: 0;
    padding: 0;
    display: block;
}

.Polarized3He p {
    margin: 5px;
}

.data-section {
    display: none;
}

.header-section {
    display: none;
}

#deuteron {
    margin: 0;
    padding: 0;
    display: block;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #dcdcdc;
    border-color: #a5a5a5;
}

.dropdown {
    position: relative;
    display: flex;
    max-width: 110px;
    top:100%;
    /* gap: 10px; */
    flex-direction: column;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content.show {
    display: block;
  }

  #Polarized3He, #ThreeHe, #Neutron, #neutron, #Proton, #proton {
    margin: 0;
    padding: 0;
    display: none;
}